BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: false
