*.o
*.so.1
timetest
test/getrandom_test
test/lib*.so
test/use_lib_*
test/run_*
test/repeat_random
test/getentropy_test
test/syscall_test
test/variadic_promotion

src/libfaketime.dylib.1
src/libfaketime.1.dylib
src/core
src/faketime
